@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 0 0% 98%;
  }

  * {
    @apply border-gray-800;
  }

  body {
    @apply bg-gray-950 text-gray-100;
  }
}
